<header>
    <style>
        nav {
            width: 100vw;
            height: 8rem;
        
            display: flex;
            justify-content: center;
            align-items: center;
        
            
            background-color: red;
            /* margin: 1rem; */
        }
        
        nav .menu {
            width: 97%;
            height: 75%;
        
            background-color: blue;
        }
        
    </style>
    <nav>
        <div class="menu">

        </div>
        <!-- <div class="icon"></div>
        <div class="links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Galery</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div> -->
    </nav>
</header>